.cards-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 2.5rem;
}

.cards-subtitle {
  text-align: center;
  font-size: 0.875rem;
  margin-bottom: 3rem;
  max-width: 32rem;
  margin-left: auto;
  margin-right: auto;
}

.cards-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

@media(min-width: 640px){
  .cards-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

@media(min-width: 1024px){
  .cards-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  background-color: white;
  color: black;
  border-radius: 1rem;
  padding: 1rem;
  text-align: center;
  transition: all 0.3s ease;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.card:hover {
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.icon {
  color: #3b82f6;
  font-size: 2rem;
  margin-bottom: 0.75rem;
}

.card-title {
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.card-text {
  font-size: 0.75rem;
}
